.metodo-pago{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    background-color: rgb(196, 190, 190);
    box-shadow: 15px 10px 15px black;
}
body{
    background-color: rgb(211, 211, 206);
}

.pagos{
    align-items: center;
   
    display: flex;
    
}

.pagos h1{
    border-bottom: 2px solid blueviolet;
}






/* MEDIA QUERYS */




@media(max-width:480px){
    
  .pagos h1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    
    
}